
a {

text-decoration: none;
color: inherit;
}

.frmsubmit{
text-align: center;
}

.hero{
text-align: center;
margin-top: 25rem;
}

.footer{
margin-top: 30rem;
text-align: center;

}
.formhaiyaar{
margin-top: 10rem;
}

.dldetails{
text-align: center;
}
